.fab {
    background-color: #4285F4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 95%;
    margin-top: 0;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}


body.modal-open .supreme-container{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.modal-backdrop {
    background-color:rgba(248, 247, 216, 0);
}
